@using TutoringPlatform.Services
@inject BuilderStateService BuilderState
@rendermode InteractiveServer
<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <NavLink class="nav-link" href="@($"/admin/adminpages/coursebuilder/{BuilderState.CourseId}")" Match="NavLinkMatch.All">@BuilderState.CourseTitle</NavLink>
    </li>
</ul>

@code {
    protected override void OnInitialized()
    {
        BuilderState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        BuilderState.OnChange -= StateHasChanged;
    }

}
