<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <NavLink class="nav-link" href="/admin/adminpages/coursebuilder" Match="NavLinkMatch.All">@CourseTitle</NavLink>
    </li>
</ul>

@code {
    public string? CourseTitle;

}
