@using TutoringPlatform.Components.Admin.AdminPages.CourseBuilder
@using TutoringPlatform.Services
@using TutoringPlatform.Shared.Interfaces
@inherits LayoutComponentBase
@layout CourseBuilderLayout
@inject BuilderStateService BuilderState

<div>
    <div class="t-flex t-p-2 t-flex-row t-justify-between t-items-center">
        <div class="">
            <h2 class="text-2xl t-font-semibold t-leading-none t-tracking-tight t-text-gray-900 md:t-text-3xl">Course Builder</h2>
        </div>
    </div>
    <hr />
    <div class="t-flex t-flex-col lg:t-flex-row t-flex-wrap lg:t-gap-6">
        <div class="t-basis-1/4">
            <CourseBuilderSidebar />
        </div>
        <div class="t-basis-[calc(75%-1.5rem)] t-my-4">
            @Body
        </div>
    </div>
</div>

@code {

}