@using TutoringPlatform.Services
@using TutoringPlatform.Shared.Interfaces
@inherits LayoutComponentBase
@layout CourseBuilderLayout
@inject BuilderStateService BuilderState

<div>
    <h2>Course Builder</h2>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <CourseBuilderSidebar />
        </div>
        <div class="col-md-9">
            @Body
        </div>
    </div>
</div>

@code {

}