@using System.ComponentModel.DataAnnotations
@using TutoringPlatform.Components.Pages.AdminPages
@inject UserManager<TutoringPlatformUser> UserManager
@inject RoleManager<IdentityRole> RoleManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<EditForm Model="Input" FormName="editprofile" OnValidSubmit="OnValidSubmitAsync" method="post">
    <DataAnnotationsValidator />
    <ValidationSummary class="text-danger" role="alert" />
    <div class="form-floating mb-3">
        <InputText @bind-Value="Input.FirstName" class="form-control" placeholder="Please enter your first name." />
        <label for="first-name" class="form-label">First Name</label>
        <ValidationMessage For="() => Input.FirstName" class="text-danger" />
    </div>
    <div class="form-floating mb-3">
        <InputText @bind-Value="Input.LastName" class="form-control" placeholder="Please enter your last name." />
        <label for="last-name" class="form-label">Last Name</label>
        <ValidationMessage For="() => Input.LastName" class="text-danger" />
    </div>
    @if (IsUserAdmin)
    {
        <div class="form-floating mb-3">
            <label for="user-role" class="form-label">User Role</label>
            <select class="form-select" @bind="Input.RoleName">
                @foreach (var role in Roles)
                {
                    <option value="@role">@role</option>
                }
            </select>
        </div>
    }
    <button type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
</EditForm>

@code {
    [Parameter]
    public string Id { get; set; }

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    [Parameter]
    public EventCallback OnClosed { get; set; }

    private TutoringPlatformUser editUser;

    private bool IsUserAdmin = false;

    private List<string> Roles { get; set; } = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        IsUserAdmin = user.IsInRole("Admin");

        if (!string.IsNullOrEmpty(Id))
        {
            editUser = await UserManager.FindByIdAsync(Id);
            Input.FirstName ??= editUser.FirstName;
            Input.LastName ??= editUser.LastName;
        }
        Roles = RoleManager.Roles.Select(r => r.Name).ToList();
        base.OnInitialized();
    }

    private async Task OnValidSubmitAsync()
    {
        editUser.FirstName = Input.FirstName;
        editUser.LastName = Input.LastName;
        editUser.RoleName = Input.RoleName;

        var currentRoles = await UserManager.GetRolesAsync(editUser);
        await UserManager.RemoveFromRolesAsync(editUser, currentRoles);
        await UserManager.AddToRoleAsync(editUser, Input.RoleName);
        var updateResult = await UserManager.UpdateAsync(editUser);
        if (updateResult.Succeeded)
        {
            await OnClosed.InvokeAsync(null);
        }
    }

    private sealed class InputModel
    {
        [Required, MaxLength(20), RegularExpression(@"^[a-zA-Z]+$")]
        public string? FirstName { get; set; }
        [Required, MaxLength(20), RegularExpression(@"^[a-zA-Z]+$")]
        public string? LastName { get; set; }
        public string RoleName { get; set; }
    }
}