@using System.ComponentModel.DataAnnotations
<h3>Edit Student Password</h3>

@code {
    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public EventCallback OnClosed { get; set; }
}