<EditForm Model="Input" FormName="change-email" OnValidSubmit="OnValidSubmitAsync" method="post">
    <DataAnnotationsValidator />
    <div class="t-mb-3">
        <label for="new-email" class="t-block t-mb-1 t-ml-1 t-text-base t-font-medium t-text-gray-600 dark:t-text-white">New email</label>
        <InputText type="text" @bind-Value="Input.NewEmail" class="t-bg-gray-50 t-border t-border-gray-300 t-text-gray-900 t-text-sm t-rounded-lg focus:t-ring-blue-500 focus:t-border-blue-500 t-block t-w-full md:t-min-w-112 t-p-3" autocomplete="email" aria-required="true" placeholder="Please enter new email." />
        <ValidationMessage For="() => Input.NewEmail" class="text-danger" />
    </div>
    <button type="submit" class="t-text-white t-bg-gradient-to-br t-from-green-400 t-to-blue-600 hover:t-bg-gradient-to-bl focus:t-ring-4 focus:t-outline-none focus:t-ring-green-200 dark:focus:t-ring-green-800 t-font-medium t-rounded-lg t-text-sm t-px-5 t-w-full t-py-2.5 t-text-center me-2 t-mb-2">Change email</button>
</EditForm>

@code {
    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public bool IsUserAdmin { get; set; }

    [Parameter]
    public EventCallback OnClosed { get; set; }

    [SupplyParameterFromForm(FormName = "change-email")]
    private InputModel Input { get; set; } = new();

    private TutoringPlatformUser editUser;
    private string? email;

    protected override async Task OnInitializedAsync()
    {
        if (!string.IsNullOrEmpty(Id))
        {
            editUser = await UserManager.FindByIdAsync(Id);
            email = await UserManager.GetEmailAsync(editUser);

            Input.NewEmail ??= email;
        }
        base.OnInitialized();
    }


    private async Task OnValidSubmitAsync()
    {
        if (Input.NewEmail is null || Input.NewEmail == email)
        {
            return;
        }
        var result = await UserManager.SetEmailAsync(editUser, Input.NewEmail);
        editUser.Email = Input.NewEmail;
        //Placeholder for email confirmation
        var code = await UserManager.GenerateEmailConfirmationTokenAsync(editUser);
        await UserManager.ConfirmEmailAsync(editUser, code);
        var resultUsername = await UserManager.SetUserNameAsync(editUser, Input.NewEmail);
        if (result.Succeeded && resultUsername.Succeeded)
        {
            await OnClosed.InvokeAsync(null);
        }
    }


    private sealed class InputModel
    {
        [Required]
        [EmailAddress]
        [Display(Name = "New email")]
        public string? NewEmail { get; set; }
    }
}
