@page "/profile/profilepages/studentdetails"
@page "/profile/profilepages/studentdetails/{Id}"
@rendermode InteractiveServer
@attribute [Authorize]
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserManager<TutoringPlatformUser> UserManager
<h3>Student Details</h3>

<p>Student id: @Id?</p>
<p>Student First Name: @user?.FirstName</p>
<p>Student Last Name: @user?.LastName</p>
<p>Student Email: @user?.Email</p>
<p>Role: @user?.RoleName</p>

<Modal @ref="modal" IsVerticallyCentered="true" />

<Button Color="ButtonColor.Primary" @onclick="ShowStudentDetails">Edit Details</Button>

@code {
    [Parameter]
    public string Id { get; set; }
    private Modal modal = default!;

    private TutoringPlatformUser user;

    protected override async Task OnInitializedAsync()
    {
        if (!string.IsNullOrEmpty(Id))
        {
            user = await UserManager.FindByIdAsync(Id);
        }
        else
        {
            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            var userPrincipal = authState.User;
            if (userPrincipal.Identity?.IsAuthenticated ?? false)
            {
                var userId = UserManager.GetUserId(userPrincipal);
                user = await UserManager.FindByIdAsync(userId);
            }
        }
        if (user != null)
        {
            Id = user.Id;
        }
    }

    private async Task ShowStudentDetails()
    {
        var parameters = new Dictionary<string, object>();
        parameters.Add("Id", Id);
        parameters.Add("OnClosed", EventCallback.Factory.Create(this, OnStudentDetailsUpdated));
        await modal.ShowAsync<EditStudentDetails>(title: "Student details", parameters: parameters);
    }

    private async Task OnStudentDetailsUpdated()
    {
        // This method is called when the EditStudentDetails modal is closed
        // Update user details here
        if (!string.IsNullOrEmpty(Id))
        {
            await modal.HideAsync();
            user = await UserManager.FindByIdAsync(Id);
            StateHasChanged(); // Make sure to refresh the UI after updating the user details
        }
    }
}

