@page "/profile/shared/signout"
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Identity
@using TutoringPlatform.Shared.Models
@inject SignInManager<TutoringPlatformUser> SignInManager
@inject NavigationManager NavigationManager
<h3>Signing you out...</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        await SignInManager.SignOutAsync();
        NavigationManager.NavigateTo("/", replace: true);
    }
}
