@layout ManageCourseBuilderLayout
@rendermode InteractiveServer
@page "/admin/adminpages/coursebuilder/assignmentdetailbuilder/{AssignmentId:int}"
<h3>AssignmentDetailBuilder</h3>
<p>@AssignmentId</p>

<Modal @ref="deleteModal" IsVerticallyCentered="true" />
<Button Color="ButtonColor.Danger" @onclick="ShowDelete">Delete Assignment</Button>

@code {
    [Parameter]
    public int? AssignmentId { get; set; }

    private Modal deleteModal = default!;

    private async Task ShowDelete()
    {
        var parameters = new Dictionary<string, object>();
        parameters.Add("RecordId", AssignmentId);
        parameters.Add("RecordType", "Assignment");
        await deleteModal.ShowAsync<AdminDelete>(title: "Delete Quiz", parameters: parameters);
    }
}
