@page "/admin/adminpages/initializenewcourse"
@rendermode InteractiveServer
<h3>Enter New Course Details</h3>

<br />
<h4>@message</h4>

<EditForm Model="Input" FormName="createcourse" OnValidSubmit="CreateCourse" method="post">
    <DataAnnotationsValidator />
    <ValidationSummary class="text-danger" role="alert" />
    <div class="form-floating mb-3">
        <InputText @bind-Value="Input.Title" class="form-control" placeholder="Please enter course title." />
        <label for="title" class="form-label">Course Title</label>
        <ValidationMessage For="() => Input.Title" class="text-danger" />
    </div>
    <div class="form-floating mb-3">
        <InputSelect @bind-Value="Input.AccessLevel" class="form-select" @bind-Value:after="OnAccessLevelChanged">
            <option value="" selected disabled>Select option</option>
            @foreach (var level in Enum.GetValues<AccessLevel>())
            {
                <option value="@level.ToString()">@level.ToString()</option>
            }
        </InputSelect>
        <label for="access-level" class="form-label">Course Access Level</label>
    </div>
    <div class="form-floating mb-3">
        <InputNumber @bind-Value="Input.Price" class="form-control" placeholder="Please enter course price." readonly="@IsPriceReadOnly()" />
        <label for="price" class="form-label">Course Price</label>
        <ValidationMessage For="() => Input.Price" class="text-danger" />
    </div>
    <div class="form-floating mb-3">
        <InputText @bind-Value="Input.Description" class="form-control" placeholder="Please enter course description." />
        <label for="description" class="form-label">Course Description</label>
        <ValidationMessage For="() => Input.Description" class="text-danger" />
    </div>
    <div class="form-floating mb-3">
        <InputText @bind-Value="Input.ImageUrl" class="form-control" placeholder="Please add course image." />
        <label for="image-url" class="form-label">Course Image</label>
        <ValidationMessage For="() => Input.ImageUrl" class="text-danger" />
    </div>
    <button type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
</EditForm>

@code {
    private string? message;
    private CourseInput Input { get; set; } = new CourseInput();

    private async Task CreateCourse()
    {
        Course newCourse = new Course
            {
                Title = Input.Title,
                Price = Input.Price,
                Description = Input.Description,
                AccessLevel = Input.AccessLevel.ToString(),
                Duration = 0,
                ImageUrl = Input.ImageUrl,
                IsActive = false,
                Status = "Draft initialized"
            };
        var updateResult = await CourseService.AddCourseAsync(newCourse);
        if (updateResult == null)
        {
            message = "Unexpected error. Please try again.";
            return;
        } 
        else
        {
            message = string.Empty;
            BuilderState.CourseId = newCourse.CourseId;
            BuilderState.IsActive = false;
            NavigationManager.NavigateTo($"/admin/adminpages/coursebuilder/{newCourse.CourseId}");
        }
    }

    private bool IsPriceReadOnly() => Input.AccessLevel == "Free" || Input.AccessLevel == "Restricted";

    private void OnAccessLevelChanged()
    {
        if (IsPriceReadOnly())
        {
            Input.Price = 0;

        }
    }
}
