@layout ManageCourseBuilderLayout
@inject IQuizService QuizService
@inject BuilderStateService BuilderService
@rendermode InteractiveServer
@page "/admin/adminpages/coursebuilder/quizdetailbuilder/{QuizId:int}"
<h3>Quiz Builder</h3>
<p>@QuizId</p>
<p>@message</p>
<Modal @ref="deleteModal" IsVerticallyCentered="true" />
<Modal @ref="editModal" IsVerticallyCentered="true" />
<Button Color="ButtonColor.Success" @onclick="AddQuestion">+ Add Question</Button>
<Button Color="ButtonColor.Danger" @onclick="ShowDelete">Delete Quiz</Button>

<br />
<br />

<EditForm Model="Input" FormName="editquiz" OnValidSubmit="UpdateQuizName" method="post">
    <DataAnnotationsValidator />
    <ValidationSummary class="text-danger" role="alert" />
    <div class="form-floating mb-3">
        <InputText @bind-Value="Input.QuizName" class="form-control" placeholder="Quiz title." />
        <label for="title" class="form-label">Quiz Title</label>
        <ValidationMessage For="() => Input.QuizName" class="text-danger" />
    </div>
    <button type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
</EditForm>

<br />
<br />

@if (questions != null)
{
    @foreach (var question in questions)
    {
        <Card Style="width:50rem">
            <CardBody>
                <CardTitle>@question.Question</CardTitle>
            </CardBody>
            <ul class="list-group list-group-flush">
                @if (question.QuizOptions != null)
                {
                    @foreach (var option in question.QuizOptions)
                    {
                        <li class="list-group-item">
                            <Switch @bind-Value="option.IsCorrect" Label="Correct" Disabled="true" />
                            @option.Option
                            <Button Color="ButtonColor.Danger" @onclick="() => DeleteOption(question, option)">Delete Question</Button>
                        </li>
                    }
                }
            </ul>
            <br/>
            <Button Color="ButtonColor.Primary" @onclick="() => EditClicked(question)">Edit</Button>
            <br />
            <Button Color="ButtonColor.Success" @onclick="() => AddOption(question)">+ Add Option</Button>
            <br />
            <Button Color="ButtonColor.Danger" @onclick="() => DeleteQuestion(question)">Delete Question</Button>
        </Card>
        <br />
    }
}

@code {
    [Parameter]
    public int? QuizId { get; set; }

    private Modal deleteModal = default!;

    private Modal editModal = default!;

    private Quiz quiz;

    List<QuizQuestion>? questions;

    private string? message;

    private QuizModel Input { get; set; } = new ();

    protected override async Task OnInitializedAsync()
    {
        quiz = await QuizService.GetQuizWithQandOAsync(QuizId.Value);
        questions = new List<QuizQuestion>();
        questions.AddRange(quiz.QuizQuestions);
        Input.QuizName = quiz.QuizName;
    }

    private async Task AddQuestion()
    {
        var question = new QuizQuestion
        {
            Question = "Draft",
            QuizId = QuizId.Value
        };
        var addedQuestion = await QuizService.AddQuizQuestionAsync(question);
        if (addedQuestion != null)
        {
            questions.Add(addedQuestion);
            BuilderService.AddQuizQuestion(addedQuestion);
        }
    }

    private async Task AddOption(QuizQuestion question)
    {
        var option = new QuizOption
        {
            Option = "Draft Option",
            IsCorrect = false,
            QuizQuestionId = question.QuizQuestionId
        };
        var addedOption = await QuizService.AddQuizOptionAsync(option);
        if (addedOption != null)
        {
            question.QuizOptions.Add(addedOption);

        }
    }

    private async Task ShowDelete()
    {
        var parameters = new Dictionary<string, object>();
        parameters.Add("RecordId", QuizId);
        parameters.Add("RecordType", "Quiz");
        await deleteModal.ShowAsync<AdminDelete>(title: "Delete Quiz", parameters: parameters);
    }

    private async Task UpdateQuizName()
    {
        quiz.QuizName = Input.QuizName;
        var updateResult = await QuizService.UpdateQuizAsync(quiz);
        if (updateResult == null)
        {
            message = "Unexpected error when updating quiz.";
        }
        else
        {
            BuilderService.UpdateQuiz(quiz);
            message = "Quiz updated successfully";
        }
    }

    private async void EditClicked(QuizQuestion question)
    {
        var parameters = new Dictionary<string, object>();
        parameters.Add("QuestionToEdit", question);
        parameters.Add("OnClosed", EventCallback.Factory.Create(this, OnQuizQuestionUpdated));
        await editModal.ShowAsync<EditQuestion>(title: "Edit Question", parameters: parameters);
    }

    private async Task OnQuizQuestionUpdated()
    {
        await editModal.HideAsync();
        StateHasChanged();
    }

    public async Task DeleteQuestion(QuizQuestion question)
    {
        var deleteResult = await QuizService.DeleteQuizQuestionAsync(question);
        if (deleteResult != null)
        {
            var questionToDelete = questions.FirstOrDefault(q => q.QuizQuestionId == deleteResult.QuizQuestionId);
            questions.Remove(questionToDelete);
            StateHasChanged();
        }
    }

    public async Task DeleteOption(QuizQuestion question, QuizOption option)
    {
        var deleteResult = await QuizService.DeleteQuizOptionAsync(option);
        if (deleteResult != null)
        {
            var optionToDelete = question.QuizOptions.FirstOrDefault(o => o.QuizOptionId == deleteResult.QuizOptionId);
            question.QuizOptions.Remove(optionToDelete);
            StateHasChanged();
        }
    }

    private sealed class QuizModel
    {
        [Required, MaxLength(30)]
        public string? QuizName { get; set; }
    }
}
