@page "/"

<PageTitle>Home</PageTitle>

<div class="t-flex t-flex-col lg:t-flex-row t-flex-wrap t-items-center" style="height: calc(100vh - 4.5rem);">
    <div class="lg:t-basis-2/3 lg:t-pb-40 md:t-py-10 lg:t-pl-0 lg:t-pr-24 t-mt-10 md:t-mt-0">
        <h1 class="t-font-semibold lg:t-text-7xl md:t-text-5xl t-text-4xl t-text-prim t-mb-10 t-text-center lg:t-text-left">Progress and succeed in English Studies.</h1>

        <p class="t-text-xl t-text-prim">Welcome to Word Show. Explore out courses to find the tution that works best for you or your child's needs.</p>
        <div class="t-flex t-justify-center lg:t-justify-start">
            <a href="browse" class="t-mt-8 t-text-prim t-bg-sec focus:t-ring-4 focus:t-ring-yellow-200 t-rounded-lg t-font-medium t-px-4 t-py-2 md:t-px-5 md:t-py-2.5 me-2 t-mb-16 lg:t-mb-0 hover:t-text-prim hover:t-bg-lyel">Explore Courses</a>
        </div>
    </div>
    <div class="lg:t-basis-1/3 t-flex t-justify-center t-items-center lg:t-pb-24 ">
        <img src="https://sttutoringuksouth001.blob.core.windows.net/blobcourses/graphic.svg" alt="Graphic image" class="lg:t-h-128 sm:t-h-80 t-h-80"/>
    </div>
</div>