@page "/terms"

<PageTitle>Home</PageTitle>

<div class="t-flex t-flex-col text-center t-mt-8">
    <h3 class="t-text-3xl t-text-prim t-font-bold md:t-text-4xl">Terms & Conditions</h3>
    <p class="t-mb-4 t-mt-1 t-text-lg t-font-normal t-text-gray-500 dark:t-text-gray-400">Please read our terms and conditions before registration.</p>
    <hr class="t-h-1 t-mx-4 md:t-mx-20 t-my-4 t-bg-gray-800 t-border-4 t-rounded md:t-my-2">
</div>

<div class="t-mt-6 t-mb-10">
    <p class="t-font-bold t-mb-2">Terms and Conditions</p>
    <p>
        These terms and conditions outline the rules and regulations for the use of WordShow's Website.

        By accessing this website, we assume you accept these terms and conditions. Do not continue to use WordShow if you
        do not agree to take all of the terms and conditions stated on this page.
    </p>
    <p class="t-font-bold t-mt-4 t-mb-2">Data Consent</p>
    <p>
        By using our website, you hereby consent to our privacy policy and agree to its terms.

        We collect and use personal information for the following purposes:
    </p>
    <ul>
        <li>To provide and maintain our Service</li>
        <li>To notify you about changes to our Service</li>
        <li>To allow you to participate in interactive features of our Service when you choose to do so</li>
        <li>To provide customer support</li>
        <li>To gather analysis or valuable information so that we can improve our Service</li>
        <li>To monitor the usage of our Service</li>
        <li>To detect, prevent and address technical issues</li>
    </ul>
    <p class="t-font-bold t-mt-4 t-mb-2">Intellectual Property</p>
    <p>
        All content, trademarks, logos, and intellectual property displayed on this website are the property of
        WordShow unless otherwise stated. You may not copy, distribute, reproduce, republish, upload, post,
        or transmit any material on this website without prior written consent from WordShow.
    </p>
    <p class="t-font-bold t-mt-4 t-mb-2">License</p>
    <p>
        Unless otherwise stated, WordShow and/or its licensors own the intellectual property
        rights for all material on WordShow. All intellectual property rights are reserved.
        You may access this from WordShow for your own personal use subjected to restrictions set in these terms and conditions.
    </p>
    <p class="t-font-bold t-mt-4 t-mb-2">Variation of Terms</p>
    <p>
        WordShow is permitted to revise these terms at any time as it sees fit,
        and by using this website you are expected to review these terms regularly.
    </p>
    <p>Entire Agreement</p>
    <p>
        These terms constitute the entire agreement between WordShow and
        you in relation to your use of this website and supersede all prior agreements and understandings.
    </p>
    <p class="t-font-bold t-mt-4 t-mb-2">Governing Law & Jurisdiction</p>
    <p>
        These terms will be governed by and interpreted in accordance with the laws of England and Wales,
        and you submit to the exclusive jurisdiction of the courts of England and Wales for the resolution of any disputes.
    </p>
    <p class="t-font-bold t-mt-4 t-mb-2">Agreement</p>
    <p>
        By accepting these terms and conditions, you confirm that you are at least 16 years old. If you are under the age of 16,
        you affirm that you have obtained parental consent to accept these terms on your behalf.
    </p>
</div>


@code {

}
