@using TutoringPlatform.Client.CoursePages.Shared
@inherits LayoutComponentBase

<div class="page">
    <div class="t-uppercase t-font-normal t-text-prim">
        <NavMenu />
    </div>

    <main style="padding-top: 4.5rem; min-height: calc(100vh - 4.5rem);" class="t-bg-wh">
        <div class="content t-w-full t-text-prim t-max-w-7xl t-mx-auto t-items-center t-px-4">
            @Body
        </div>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
