@using TutoringPlatform.Client.CoursePages.Shared
@inherits LayoutComponentBase

<div class="page">
    <div>
        <NavMenu />
    </div>

    <main style="padding-top: 4.5rem; min-height: calc(100vh - 4.5rem);">
        <div class="content t-px-4">
            @Body
        </div>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
